.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.mainContainer {
  margin-top: 7rem;
}

.topNavBar {
  position: fixed;
  width: 100%;
  top:0;
  z-index: 10;
}

.bottomNavbar {
  /* margin-top: 1rem; */
  padding:1rem;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  min-width: 50%;
  max-width: 50%;
}

.title-main {
  font-family: Kanit;
}

.button {
  margin-right: 20px;
  background-color: rgb(242, 205, 211);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  box-shadow: 2px 2px rgb(241, 138, 203);
}

.button:hover {
  cursor: pointer;
  background-color: rgb(241, 138, 203);
  box-shadow: 2px 2px rgb(242, 205, 211);
}

.button:active {
  background-color: rgb(241, 138, 203);
  box-shadow: 2px 2px rgb(242, 205, 211);
  box-shadow: none;
  transform: translateY(2px);
  transform: translateX(2px);
}


@font-face {
  font-family: Kanit;
  src: url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
}

.highlight {
  width: fit-content;
  border: 3px dashed rgb(241, 138, 203);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 20px;
}


.maybeTextArea {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.button.maybe {
  margin-bottom: 30px;
}

.buttonDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}
