.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  min-width: 50%;
  max-width: 50%;
}

.title-main {
  font-family: Kanit;
}

.button {
  margin-right: 20px;
  background-color: rgb(242, 205, 211);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  box-shadow: 2px 2px rgb(241, 138, 203);
}


.button:hover {
  cursor: pointer;
  background-color: rgb(241, 138, 203);
  box-shadow: 2px 2px rgb(242, 205, 211);
}

.button:active {
  background-color: rgb(241, 138, 203);
  box-shadow: 2px 2px rgb(242, 205, 211);
  box-shadow: none;
  transform: translateY(2px);
  transform: translateX(2px);
}

.stepper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

@font-face {
  font-family: Kanit;
  src: url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
}

<<<<<<< HEAD
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signup-div {
  width: 100%;
  max-width: 400px;
}

.testingGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  place-items: center;
  padding: 10px;
  gap: 100px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  column-gap: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.insideGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  border: 2px solid rgb(241, 138, 203);
  border-radius: 20px;
  padding: 4%;
  font-size: x-large;
  transition-duration: 0.2s;

  box-shadow: 1px 1px 5px 0px #424141;
}

.welcome {
  text-align: center;
}
.insideGrid:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.justCreatedWannaGo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.justCreatedWannaGoSedondPart {
  display: block;
  margin-left: 230px;
  margin-top: 20px;
}

.highlight {
  width: fit-content;
  border: 3px dashed rgb(241, 138, 203);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 20px;
}
.buttonCopy {
  background-color: rgb(242, 205, 211);
  color: white;
  border-color: rgb(241, 138, 203);
  font-size: 20px;
  margin-left: 30px;
  width: fit-content;
}

.textGuestLink {
  margin-top: 50px;
}

.maybeTextArea {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.button.maybe {
  margin-bottom: 30px;
}

.holdWannaGos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.buttonDelete {
  display: flex;
  justify-content: center;
  align-items: center;
=======
.icons {
  margin-top: 10px;
  width: 50px;
  height: 70%;
}
.icons:hover {
  cursor: pointer;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
>>>>>>> 6c320e6a98a121077b67ca48a15926ed192bab65
}