.navContainer {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 0%;
  margin-top: 1%;
}

.icons {
  min-width: 20%;
  max-width: 20%;
  height: 20%;
}

.icons.login {
  margin-left: 170%;
}
a.iconLinks  {
  margin: 0;
  width: 20%;
  height: 20%;
}

.iconLinkLanding {
  width: 100%;
  height: 100%;
}

a.iconLinkLanding {
  margin-left: 20%;
  width: 25%;
  padding-right: 0;
  margin-right:0;
}
.iconsLogo {
  min-width: 150px;
  max-width: 150px;
}

.landingPageIcons {
  display: flex;
  justify-content: center;
  height: 20%;
  gap: 20%;
}

.navButtonsContainer {
  display: flex;
  justify-content: center;
  height:10%;
  gap: 20%;
}



.navButtonsContainerLanding {
  display: flex;
  justify-content: center;
  height:10%;
  gap: 20%;
}
.icons.signup:hover {
  content: url('../icons/sign-up-hard.png')
}

.icons.login:hover {
  content: url('../icons/login-hard.png')
}

.icons.logout:hover {
  cursor: pointer;
  content: url('../icons/logout-hard.png')
}

.icons.dashboard:hover {
  content: url('../icons/home-icon-hard.png')
}