.row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.flexColumnCenterAll {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 337px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 337px;
}