div.form-container {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}
