/* main.page-container {
 display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 80%;
  margin: 2rem auto;
} */

/* div.aside-placeholder {
  grid-column: 1;
} */

aside.sidebar-info {
  height: 100%; 
  width: 23.5rem; 
  position: fixed; 
  z-index: 1; 
  top: 4rem; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 2rem;
  padding-inline: 1rem;
}

p.seen-by {
  font-size: 2rem;
  text-align: center;
}

aside.sidebar-info::after {
  content: "";
  position: absolute;
  top: 5%; 
  bottom: 14%; 
  right: 0;
  width: 1px; 
  background-color: rgb(241, 138, 203); 
}

section.info-container {
  margin-left: 23.5rem;
  /* height: 120%; */
 /* margin-left: 10rem; */
}

article.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
  margin: auto;
  margin-top: 4rem;
}

div.counters-box-info {
  border: 1px solid rgb(241, 138, 203);
  border-radius: 10px;
  padding-inline: 0.5rem;
  width: 180px;
  height: 160px;
  position: relative;
}

h6.counter-description {
  margin-bottom: 0;
  text-align: center;
  padding-top: 1rem;
}
p.counter {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-weight: 500;
  color: rgb(241, 138, 203);
  margin-bottom: 0;
  text-align: center;
}


article.detail-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 45rem;
  margin: auto;
  margin-top: 2rem;
  /* justify-content: center;
  align-items: center; */
}

div.people-going-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  scroll-behavior: smooth;
}

h1.titles {
  text-decoration: underline;
}

p.people-going {
  font-size: 1.2rem;
  border-radius: 8px;
  /* width: fit-content; */
  padding: 0px 10px;
  background-color: rgb(242, 205, 211);
  /* margin-top: 1%; */
  width: 20rem;
}

div.suggestions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* padding: 5%; */
  gap: 10px;
  scroll-behavior: smooth;
}

.message {
  border: 1px solid rgb(241, 138, 203);
  border-radius: 10px;
  font-size: larger;
  padding: 0px 10px;
  width: 20rem;
}





