.wgCardContainer {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 6%);
  width: 337px;
  height: 265px;
  transition-duration: 0.2s;
  position: relative;
}

.wgCardContainerSimple {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 6%);
  width: 337px;
  height: 212px;
  transition-duration: 0.2s;
  position: relative;
}
.wgWhen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 205, 211);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25%;
  color: white;
  /* margin-top: 5px; */
}
.wannaGoCardInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-around;
  height: 80%;
  /* border: 1.5px solid rgb(241,138,203); */
  /* width: fit-content; */
}

.wannaGoCardInfoContainerSimple {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-around;
  height: 100%;
  
  /* border: 1.5px solid rgb(241,138,203); */
  /* width: fit-content; */
}

.wgCardContainer:hover {
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 0 4px 6px rgb(0 0 0 / 6%);
}

.description {
  color: #A9978C;

}

.descriptionSimple {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  color: #A9978C;
  /* line-height: 1.5rem; */
  /* letter-spacing: 0.5rem; */
}

.text {
  font-size: 1.1rem;
  margin: 0;
}

.wgDescription {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 2%;
}


.optionsContainer {
  position: absolute;
width: 250px;
bottom: 0;
}
.options {
  display: flex;
  justify-content: space-around;
  height: 10%;
  border-top: 4px dotted rgb(242, 205, 211);
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 2%;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 2.1rem;
}

.charts:hover {
  cursor: pointer;
  color:rgb(241, 138, 203)
}

.shareModal {
  background-color: white;
  position: absolute;
  width: 240px;
  height: 90px;
  bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 6%);
}

.deleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}